.frisbeePic{
    width: 10rem;
    height: 10rem;
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding-top: 5px;
    text-decoration: none !important;
}
.frisCards{
    padding-top: 2rem;
    
}
.frisbeeData{
    width: 33%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.cardContainer{
    text-decoration: none;
}